{
    "widgets": [
        {
            "type": "text",
            "x": 0,
            "y": 0,
            "width": 23,
            "height": 1,
            "properties": {
                "markdown": "## Voice Metrics\n"
            }
        },
        {
            "type": "metric",
            "x": 0,
            "y": 1,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Total Inbound + Outbound Calls (Sum)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "CallsPerInterval", "InstanceId", "${instance_id}", "MetricGroup", "VoiceCalls", { "label": "", "period": 900, "stat": "Sum" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 9,
            "y": 1,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Queue Size",
                "region": "${region}",
                "metrics": [
                    [ { "expression": "SEARCH('{AWS/Connect,InstanceId,MetricGroup,QueueName} QueueSize InstanceId=\"${instance_id}\" MetricGroup=\"Queue\"', 'Maximum', 900)", "id": "e1", "label": "$${PROP('Dim.QueueName')}" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                }
            }
        },
        {
            "type": "metric",
            "x": 18,
            "y": 1,
            "width": 6,
            "height": 6,
            "properties": {
                "view": "gauge",
                "title": "Concurrent Calls % (Max)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "ConcurrentCallsPercentage", "InstanceId", "${instance_id}", "MetricGroup", "VoiceCalls", { "period": 900, "stat": "Maximum" } ]
                ],
                "yAxis": {
                    "left": {
                        "min": 0,
                        "max": 100,
                        "showUnits": false,
                        "label": "%"
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 0,
            "y": 8,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Concurrent Calls (Max)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "ConcurrentCalls", "InstanceId", "${instance_id}", "MetricGroup", "VoiceCalls", { "label": "", "period": 900, "stat": "Maximum" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 9,
            "y": 8,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Queue Wait Times",
                "region": "${region}",
                "metrics": [
                    [ { "expression": "SEARCH('{AWS/Connect,InstanceId,MetricGroup,QueueName} LongestQueueWaitTime InstanceId=\"${instance_id}\" MetricGroup=\"Queue\"', 'Maximum', 900)", "id": "e2", "label": "$${PROP('Dim.QueueName')}" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                }
            }
        },
        {
            "type": "metric",
            "x": 18,
            "y": 7,
            "width": 6,
            "height": 6,
            "properties": {
                "view": "gauge",
                "title": "Calls Exceeding Concurancy Limit (Sum)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "CallsBreachingConcurrencyQuota", "InstanceId", "${instance_id}", "MetricGroup", "VoiceCalls", { "period": 900, "stat": "Sum" } ]
                ],
                "yAxis": {
                    "left": {
                        "min": 0,
                        "max": 100,
                        "showUnits": false,
                        "label": ""
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 0,
            "y": 15,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Throttled Calls (Sum)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "ThrottledCalls", "InstanceId", "${instance_id}", "MetricGroup", "VoiceCalls", { "label": "", "period": 900, "stat": "Sum" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 9,
            "y": 15,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Queue Capacity Exceeded",
                "region": "${region}",
                "metrics": [
                    [ { "expression": "SEARCH('{AWS/Connect,InstanceId,MetricGroup,QueueName} QueueCapacityExceededError InstanceId=\"${instance_id}\" MetricGroup=\"Queue\"', 'Maximum', 900)", "id": "e3", "label": "$${PROP('Dim.QueueName')}" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                }
            }
        },
        {
            "type": "metric",
            "x": 18,
            "y": 13,
            "width": 6,
            "height": 6,
            "properties": {
                "view": "gauge",
                "title": "Missed Calls (Sum)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "MissedCalls", "InstanceId", "${instance_id}", "MetricGroup", "VoiceCalls", { "period": 900, "stat": "Sum" } ]
                ],
                "yAxis": {
                    "left": {
                        "min": 0,
                        "max": 100,
                        "showUnits": false,
                        "label": ""
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 0,
            "y": 22,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Packet Loss Rate (Avg)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "PacketLossRate", "InstanceId", "${instance_id}", "MetricGroup", "VoiceCalls", { "label": "", "period": 900, "stat": "Average" } ]
                ],
                "yAxis": {
                    "left": {
                        "min": 0,
                        "showUnits": false,
                        "label": "%"
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 9,
            "y": 22,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Active Calls (Max)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "ActiveCalls", "InstanceId", "${instance_id}", "MetricGroup", "VoiceCalls", { "label": "", "period": 900, "stat": "Maximum" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 18,
            "y": 22,
            "width": 6,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Contact Flow Errors",
                "region": "${region}",
                "metrics": [
                    [ { "expression": "SEARCH('{AWS/Connect,InstanceId,MetricGroup,ContactFlowName} ContactFlowErrors InstanceId=\"${instance_id}\" MetricGroup=\"ContactFlow\"', 'Sum', 900)", "id": "e4", "label": "$${PROP('Dim.ContactFlowName')}" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                }
            }
        },
        {
            "type": "text",
            "x": 0,
            "y": 30,
            "width": 9,
            "height": 1,
            "properties": {
                "markdown": "## Chat Metrics\n"
            }
        },
        {
            "type": "text",
            "x": 9,
            "y": 30,
            "width": 9,
            "height": 1,
            "properties": {
                "markdown": "## Task Metrics\n"
            }
        },
        {
            "type": "metric",
            "x": 0,
            "y": 31,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Conncurrent Active Chats (Max)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "ConcurrentActiveChats", "InstanceId", "${instance_id}", "MetricGroup", "Chats", { "label": "", "period": 900, "stat": "Maximum" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "metric",
            "x": 9,
            "y": 31,
            "width": 9,
            "height": 7,
            "properties": {
                "view": "timeSeries",
                "title": "Conncurrent Active Tasks (Max)",
                "region": "${region}",
                "metrics": [
                    [ "AWS/Connect", "ConcurrentTasks", "InstanceId", "${instance_id}", "MetricGroup", "Tasks", { "label": "", "period": 900, "stat": "Maximum" } ]
                ],
                "yAxis": {
                    "left": {
                        "showUnits": false
                    }
                },
                "legend": {
                    "position": "hidden"
                }
            }
        },
        {
            "type": "text",
            "x": 0,
            "y": 38,
            "width": 9,
            "height": 4,
            "properties": {
                "markdown": "## Amazon Connect Instance: ${instance_alias} \n \n### Notes \nAmazon Connect CloudWatch metrics are defined**[here](https://docs.aws.amazon.com/connect/latest/adminguide/monitoring-cloudwatch.html)**.\n\nUsing the **Actions** menu, set the Period Overide to the desired Interval. More info[here](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/change_dashboard_refresh_interval.html).\n"
            }
        }
    ]
}
